@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body{
    font-family: Montserrat;
    background-color: black;
    color:white;

}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight:400;
    color:#727171
}

.title{
    color:#ff7613;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.year-range{
    font-size: 1.4rem;
    color:#727171;
    font-weight: 300;
}
.item-title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem;
}
.college-name{
    font-size: 1.4rem;
    color:#727171;
    font-weight: 400;
}

/* Layouts styling */
.container{
    max-width:fit-content;
    width: 100%;
    margin: 0;
    display: grid;
    padding: 5rem;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}


.profile{
    grid-column: 1/-1;
    margin-bottom: 2rem;
}

.group-1,
.group-2{
    display:flex;
    flex-direction: column;
    gap: 5rem;
    width:287.297px;
}

.group-3{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.group-3 > div{
    flex: 1;
}

/* profile*/
.profile-container{
    display: flex;
    gap: 2rem;
}

.profile-img{
    max-width: 250px;
}

.first-name{
    color:white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.last-name{
    color:#ff7613;
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.job-title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.download-button{
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.download-button:hover{
    color:#ff7613;
}


/*Styling for my Skills Section*/
.skill-list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/*Styling for my CourseWork Section*/
.course-list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/*Styling for my Education Section*/
.edu-item{
    margin-top: 2rem;
}
    
/*Styling for my Project Section*/
.project-item{
    margin-top: 2rem;
}

/*Styling for my Experience Section*/
.experience-list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}


/* Styling socials*/
.social-item{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: #727171;
}

.social-item:hover{
    color: #727171;
}

.social-item svg{
    width: 2rem;
}

hr{
    grid-column: 1/-1;
    width: 80%;
    margin:0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-top: 2px solid gray;

}